# https://adventofcode.com/2021/day/${day_number}
import sys
from ..common import *


def part1(data):
    return ""


def part2(data):
    return ""


data = read_data(sys.argv[1], str)
print(f"Part 1: {part1(data)}")
print(f"Part 2: {part2(data)}")